{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>
.btn2 {
    background-color: rgb(255, 153, 153);
        color: white; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
</style>
<div class="row my-5">
    <div class="col-md-12">
        <div class="my-3 d-flex justify-content-between align-items-center">
            <button type="button" class="btn2 ">
                Our Latest Jems
            </button>
            <div>
                <a href="{{path('home')}}" class="btn btn-sm btn-outline-dark mx-1">
                    All
                </a>
                {% for category in categories %}
                    <a href="{{path('product_category',{category: category.id})}}" class="btn btn-sm btn-outline-dark mx-1">
                        {{category.name}}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            {% if products|length %}
                {% for product in products %}
                    <div class="col-md-4">
                        <div class="card" style="width: 18rem;height: 100%">
                            {% if product.image %}
                                <img src="{{photo_url~product.image}}"
                                    alt="{{product.name}}" 
                                    class="card-img-top">
                            {% else %}
                                <img src="{{photo_url~'flowers.png'}}"
                                    alt="{{product.name}}" 
                                    class="card-img-top">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{product.name}}</h5>
                                <p class="card-text">{{product.description}}</p>
                                <h5><span class="text text-danger">{{product.price}}$</span></h5>
                                <a href="{{path('product_show',{id: product.id})}}" class="btn btn-sm btn-primary">
                                    View
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="alert alert-info">
                    No products found!
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}