
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
<link rel="icon" href="/uploads/icon.jpg" type="image/jpeg">

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        {% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                function deleteItem(id){
                    Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, delete it!'
                    }).then((result) => {
                        if (result.isConfirmed) {
                           document.getElementById(id).submit();
                        }
                    });
                }
            </script>
        {% endblock %}
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: rgb(250, 153, 153);">
    <div class="container px-4">
      <a class="navbar-brand" href="/">
        <span style="color:#ffffff; font-size:26px; font-weight:bold; letter-spacing: 1px;">Her Jewleries</span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
          class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{path('home')}}">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="{{path('user_order_list')}}">Orders</a>
</li>
          <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if not app.user %}
                                <li><a class="dropdown-item" href="{{path('app_register')}}">Sign up</a></li>
                                <li><a class="dropdown-item" href="{{path('app_login')}}">Sign in</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="#">{{app.user.username}}</a></li>
                                <li><a class="dropdown-item" href="{{path('app_logout')}}">Logout</a></li>
                            {% endif %}
                        </ul>
                    </li>
            {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Admin
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{{path('product_list')}}">Products</a></li>
                                <li><a class="dropdown-item" href="{{path('product_store')}}">Create product</a></li>
                                <li><a class="dropdown-item" href="{{path('orders_list')}}">Orders</a></li>
                            </ul>
                        </li>
                    {% endif %}
        </ul>
      </div>
    </div>
  </nav>

        <div class="container"> 
            {% block body %}{% endblock %}
        </div>
        <footer class="text-center bg-body-tertiary">

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2024 Copyright:
    <a class="text-body" href="{{path('home')}}">Her Jewleries</a>
  </div>
</footer>
    </body>

    
</html>
